@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"), url("../fonts/Inter-Regular.woff") format("woff"),
    local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Medium";
  src: local("Inter-Medium"), url("../fonts/Inter-Medium.woff") format("woff"),
    local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff") format("woff"),
    local("Montserrat-Regular"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-SemiBold"), url("../fonts/Inter-Bold.woff") format("woff"),
    local("Montserrat-Regular"),
    url("../fonts/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope-Medium";
  src: local("Manrope-Medium"),
    url("../fonts/Manrope-Medium.woff") format("woff"),
    local("Montserrat-Regular"),
    url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: local("Raleway-SemiBold"),
    url("../fonts/Raleway-SemiBold.woff") format("woff"),
    local("Montserrat-Regular"),
    url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
