@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"), url("../fonts/Inter-Regular.woff") format("woff"),
    local("Inter-Regular"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Medium";
  src: local("Inter-Medium"), url("../fonts/Inter-Medium.woff") format("woff"),
    local("Inter-Medium"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff") format("woff"),
    local("Montserrat-Regular"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-SemiBold"), url("../fonts/Inter-Bold.woff") format("woff"),
    local("Montserrat-Regular"),
    url("../fonts/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope-Medium";
  src: local("Manrope-Medium"),
    url("../fonts/Manrope-Medium.woff") format("woff"),
    local("Montserrat-Regular"),
    url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: local("Raleway-SemiBold"),
    url("../fonts/Raleway-SemiBold.woff") format("woff"),
    local("Montserrat-Regular"),
    url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

/* h1,
.h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "RussoOne-Regular";
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

h2,
.h2 {
  color: #fff;
  font-family: "RussoOne-Regular";
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

h3,
.h3 {
  color: #fff;
  font-family: "RussoOne-Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

h4,
.h4 {
  color: #fff;
  font-family: "RussoOne-Regular";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.feature {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.4px;
  color: #ee3465;
}

.footer-link {
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #b7b9cc;
}

@media screen and (max-width: 1024px) {
  h2,
  .h2 {
    font-size: 28px;
    line-height: 42px;
  }

  h3,
  .h3 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  h2,
  .h2 {
    font-size: 24px;
    line-height: 32px;
  }

  h3,
  .h3 {
    font-size: 20px;
    line-height: 24px;
  }
} */
